
menuconfig LIB_ZIRCON
    bool "libzircon"
    depends on HAVE_LIB_SEL4 && HAVE_LIB_UTILS && HAVE_LIBC
    default y
    help
        Support for using zircon syscalls.

config HAVE_LIB_ZIRCON
    bool
